<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="profilepic/favicon1.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media-queries.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/css/main.85038840.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Phillip Preechakul</title>
</head>
<body>
<div id="root"></div>
<script src="{{ url_for('static', filename='js/jquery.flexslider.js')}}"></script>
<script src="{{ url_for('static', filename='js/waypoints.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.fittext.js')}}"></script>
<script src="{{ url_for('static', filename='js/magnific-popup.js')}}"></script>
<script src="{{ url_for('static', filename='js/init.js')}}"></script>
<script src="{{ url_for('static', filename='static/js/main.db3358cc.js')}}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>